// The @each directive is used to loop through each key-value pair in the $colors map.
@each $key, $val in $colors {
  // For each key-value pair, it generates a CSS class .text-{key} where {key} is the current key from the map.
  // The color property of this class is set to the corresponding value from the map.
  .text-#{$key} {
    color: $val;
  }

  // Similarly, it generates a CSS class .bg-{key} where {key} is the current key from the map.
  // The background property of this class is set to the corresponding value from the map.
  .bg-#{$key} {
    background: $val;
  }

  // light variations
  @for $i from 1 through 9 {
    .text-#{$key}-light-#{$i} {
      color: mix(white, $val, $i * 10%);
    }

    .bg-#{$key}-light-#{$i} {
      background: mix(white, $val, $i * 10%);
    }
  }

  // dark variations
  @for $i from 1 through 9 {
    .text-#{$key}-dark-#{$i} {
      color: mix(black, $val, $i * 10%);
    }

    .bg-#{$key}-dark-#{$i} {
      background: mix(black, $val, $i * 10%);
    }
  }
}
